.slide {
  display: flex;
  flex-flow: column;
  height: 100%;
  align-items: center;

  h2 {
    flex: 0 1 auto;
    margin-top: 0.2em;
    margin-bottom: 0;
  }

  .content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
      display: block;
      margin: -10% auto 0 auto;
    }
  }

  .snippet  {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .eg-code-block {
      display: flex;
      justify-content: center;
    }
  }

  .synth {
    width: 1000px;
    margin: 0 auto;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .controls {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .control {
        margin-right: 5px;
      }
    }
  }

}
